<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">The Story of the Society</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>August 2019</h4>
                                    <h4 class="subheading">Our Humble Beginnings</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The Society is formed with David Di Meo at the forefront, with the Inaugural General Meeting taking place soon after. With the support of the initial members, the founding committee was selected and the club was official!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>September 2019</h4>
                                    <h4 class="subheading">The First Events</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The first events by the Society came by in full swing! With a study group, SOLIDWORKS Workshop and a Kahoot Night to de-stress during the mid-semester break.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>October 2019</h4>
                                    <h4 class="subheading">Transition to Industry</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The first industry site visit! SMES hosted a visit to Wilson Transformer Company's Glen Waverley factory providing students with opportunity to see first hand how their massive 100+ tonne power transformers are made and find out about their importance in powering the world.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>