<!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <a href="https://swinburne.edu.au/">
                        <img src="img/logos/swin-u.jpg" class="img-responsive img-centered" alt="Swinburne University of Technology">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="https://www.wtc.com.au/">
                        <img src="img/logos/wilson-transformer.jpg" class="img-responsive img-centered" alt="Wilson Transformer Company">
                    </a>
                </div>
            </div>
        </div>
    </aside>